input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

::placeholder {
  color: rgb(175, 175, 175);
}

.registerContainer {
  z-index: 5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://brunty.me/files/chat-bgs/1.0/blue-pink-100-pct.png')
    center no-repeat;
  background-size: cover;
  background-color: rgba(0 0 0 /80%);
  background-blend-mode: multiply;
}

.registerWrapper {
  background-color: #fff;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.registerWrapper > form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logo {
  color: #5d5b8d;
  font-weight: bold;
  font-size: 24px;
}

.title {
  color: #5d5b8d;
  font-size: 12px;
}

.registerWrapper > form > input {
  padding: 15px;
  border: none;
  border-bottom: 1px solid #a7bcff;
  outline: none;
  width: 250px;
}

.signButton {
  background-color: #7b96ec;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.registerWrapper > p {
  color: #5d5b8d;
  font-size: 12px;
  margin-top: 10px;
}

.hide {
  display: none;
}

.avator {
  width: 32px;
  height: 32px;
}

.registerWrapper > form > label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8da4f1;
  font-size: 12px;
  cursor: pointer;
}
